{% extends 'newecom/main.html' %}
{% load static %}
{% block content %}
    <h3>Thông tin khách hàng</h3>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <label for="diachi">Address</label>
        <input type="text" name="address" class="form-control" id="diachi">
        <label for="thanhpho">City</label>
        <input type="text" name="city" class="form-control" id="thanhpho">
        <label for="bang">State</label>
        <input type="text" name="state" class="form-control" id="bang">
        <label for="ma">Zip code</label>
        <input type="text" name="zipcode" class="form-control" id="ma">
        <input type="submit" class="btn btn-primary my-2" value="Đặt hàng" id="nutbam">
    </form>
</div>
<script>
    $("#nutbam").click(function(){
        window.alert("Đặt hàng thành công!");
    });
</script>
{% endblock %}