@charset "utf-8";
/* CSS Document */
.tagfirst{
	background-image:url(../images/hoa.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:white;
}
.box_element{
	padding:10px;
	height:550px;
	box-shadow: 10px 10px 5px grey;
	transition: transform .5s;
	margin-bottom:50px;
	}
.box_element:hover{
	transform: scale(1.05);
	}
.box_element img{
	width:100%;
	height:65%;
	}
.box_product{
	max-width:800px;
	margin:auto;
	height:auto;
	overflow:auto;
	}

.box_login{
	max-width:400px;
	margin-top:400px;
	height:auto;
	overflow:auto;
	border-radius:10px;
	}

.box_product img{
	float:left;
	width:480px;
	height:480px;
	margin-right:50px;
	}
.thongtin{
	display:inline;
	}
.thongtin:hover {
	color:#F00;
}
.hidden{
	display: none!important;
}